*.log
.env
.env.*
dist/
node_modules
coverage/
api/db/*
logs/*
log.txt
config.json
packages/**/_build
packages/**/api/**/
.vscode
.config/
.npm/
.idea
.DS_Store
dsl/wfd-dsl.js
packages/app/config/description.json